# top level values
domain: "theopenlane.io"
# core app values
openlane:
  pdb:
    minAvailable: 2
  secret:
    create: true
  config:
    create: true
  coreConfiguration:
    server:
      csrfProtection:
          enabled: true
          sameSite: "None"
          cookieDomain: ".theopenlane.io"
      graphPool:
        maxWorkers: 200
      complexityLimit: 200
      defaultTrustCenterDomain: "trust.theopenlane.net"
      trustCenterCnameTarget: "cname.openlane-dns.com"
      cors:
        enabled: true
        allowOrigins:
          - https://console.theopenlane.io
          - https://www.theopenlane.io
          - https://studio.apollographql.com
          - https://docs.theopenlane.io
          - https://*openlane*.vercel.app
          - https://trust.theopenlane.net
      secure:
        hstsmaxage: "31536000"
    db:
      maxConnections: 8
      maxIdleConnections: 8
      migrationProvider: goose
      enableHistory: true
      databaseName: prod-openlane-db
    jobQueue:
      metrics:
        enableMetrics: true
        metricsDurationUnit: "s"
    authz:
      enabled: true
      hostUrl: http://openfga.openfga.svc.cluster.local:8080
    auth:
      token:
        kid: "16FFBS79AZ12168N0RAW3CEAGG"
        generateKeys: false
      supportedProviders: # note this is not currently used, but adding to ensure future compatibility
        - github
        - google
        - webauthn
      providers:
        # redirect url for sso logins
        redirectUrl: "https://console.theopenlane.io/login/sso"
        github:
          clientId: "Ov23liFCzRTms6uIou68"
        google:
          clientId: "45405492545-7emofbtcl8vd81rqc4af1eqb7mtuca83.apps.googleusercontent.com"
    sessions:
      sameSite: "None"
      domain: ".theopenlane.io" # todo: allow this to work with the domain, need the "." prefix
    redis:
      address: "10.252.1.3:6379"
    email:
      templatesPath: "/brandedemails"
      companyName: "Openlane"
      corporation: "theopenlane Inc."
      companyAddress: "5150 Broadway St · San Antonio · TX 78209"
      fromEmail: "support@mail.theopenlane.io"
      year: "2025"
      logoURL: "https://www.theopenlane.io/cdn-cgi/imagedelivery/2gi-D0CFOlSOflWJG-LQaA/12e42452-e66e-4bae-0011-45a3f2cb6200/public"
    objectStorage:
      enabled: true
      maxSizeMB: 100
      providers:
        s3:
          enabled: true
          ensureAvailable: true
          region: "us-east-2"
          bucket: "opln"
          baseURL: "https://api.theopenlane.io/v1/files"
          proxyPresignEnabled: false
        cloudflareR2:
          enabled: true
          ensureAvailable: true
          bucket: "ol-trust-center"
          region: "WNAM"
          baseURL: "https://api.theopenlane.io/v1/files"
          proxyPresignEnabled: false
    entConfig:
      entityTypes:
        - "vendor"
      modules:
        enabled: true
      emailValidation:
        enabled: true
        allowedEmailTypes:
          role: true
      billing:
        requirePaymentMethod: true
        bypassEmailDomains: ["theopenlane.io"]
      maxPoolSize: 200
    subscription:
      enabled: true
      stripeBillingPortalSuccessURL: "https://console.theopenlane.io/organization-settings/billing"
    keywatcher:
      enabled: true
      keyDir: "/keys"
    integrationOauthProvider:
      github:
        clientId: "Ov23li4ZVNEkKhrdBZu5"
        scopes: ["read:user", "user:email", "repo"]
      slack:
        clientId: "7576222813318.8026395673346"
        scopes: ["chat:write", "channels:read"]
    ratelimit:
      enabled: true
      dryRun: true
      options:
        - requests: 500
          window: 10s
# riverboat values
riverboat:
  secret:
    create: true
  config:
    create: true
  workers:
    emailWorker:
      enabled: true
    deleteExportContentWorker:
      enabled: true
    exportContentWorker:
      enabled: true
    customDomainWorker:
      enabled: true
