{{- if .Values.riverboat.config.create }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: riverboat-config
  namespace: openlane
  labels:
    app: riverboat
    component: config
data:
  RIVERBOAT_REFRESHINTERVAL: {{ .Values.riverboat.refreshInterval | quote }}
  RIVERBOAT_RIVER_METRICS_METRICSDURATIONUNIT: {{ .Values.riverboat.river.metrics.metricsDurationUnit | default "ms" }}
  RIVERBOAT_RIVER_METRICS_ENABLESEMANTICMETRICS: {{ .Values.riverboat.river.metrics.enableSemanticMetrics | default true }}
  RIVERBOAT_RIVER_METRICS_ENABLEMETRICS: {{ .Values.riverboat.river.metrics.enableMetrics | default false }}

  # email worker
  RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.emailWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_FROMEMAIL: {{ .Values.riverboat.workers.emailWorker.fromEmail | quote }}
  RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_DEVMODE: {{ .Values.riverboat.workers.emailWorker.devMode | quote }}
  RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TESTDIR: {{ .Values.riverboat.workers.emailWorker.testDir | quote | default "" }}

  # export worker
  RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.deleteExportContentWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_INTERVAL: {{ .Values.riverboat.workers.deleteExportContentWorker.interval | quote }}
  RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_CUTOFFDURATION: {{ .Values.riverboat.workers.deleteExportContentWorker.cutoffDuration | quote }}
  RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.exportContentWorker.enabled | quote }}
  {{- if .Values.riverboat.workers.exportContentWorker.openlaneAPIHost }}
  RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.exportContentWorker.openlaneAPIHost | quote }}
  {{- else if .Values.domain }}
  RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST: "https://api.{{ .Values.domain }}"
  {{- end }}
  {{- if .Values.riverboat.workers.deleteExportContentWorker.openlaneAPIHost }}
  RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.deleteExportContentWorker.openlaneAPIHost | quote }}
  {{- else if .Values.domain }}
  RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST: "https://api.{{ .Values.domain }}"
  {{- end }}

  # custom domain workers
  RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.customDomainWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.customDomainWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.customDomainWorker.enabled | quote }}

  {{- if .Values.riverboat.workers.customDomainWorker.openlaneAPIHost }}
  RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.customDomainWorker.openlaneAPIHost | quote }}
  RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.customDomainWorker.openlaneAPIHost | quote }}
  RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.customDomainWorker.openlaneAPIHost | quote }}
  {{- else if .Values.domain }}
  RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: "https://api.{{ .Values.domain }}"
  RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: "https://api.{{ .Values.domain }}"
  RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPIHOST: "https://api.{{ .Values.domain }}"
  {{- end }}

  # database workers
  RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.databaseWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_BASEURL: {{ .Values.riverboat.workers.databaseWorker.baseUrl | quote | default "" }}
  RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_ENDPOINT: {{ .Values.riverboat.workers.databaseWorker.endpoint | quote }}
  RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_DEBUG: {{ .Values.riverboat.workers.databaseWorker.debug | quote }}

  RIVERBOAT_RIVER_WORKERS_WATERMARKDOCWORKER_CONFIG_ENABLED: {{ .Values.riverboat.workers.watermarkDocWorker.enabled | quote }}
  RIVERBOAT_RIVER_WORKERS_WATERMARKDOCWORKER_CONFIG_OPENLANEAPIHOST: {{ .Values.riverboat.workers.watermarkDocWorker.openlaneAPIHost }}

  # slack workers
  RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_ENABLED: {{ .Values.riverboat.river.workers.slackWorker.enabled | default false }}
  RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_DEVMODE: {{ .Values.riverboat.river.workers.slackWorker.devMode | default true }}
  RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_TOKEN: {{ .Values.riverboat.river.workers.slackWorker.token }}
{{- end }}
