{{- if .Values.riverboat.secret.create }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: riverboat-app-secret-ext
  namespace: openlane
spec:
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: riverboat-app-secret
    creationPolicy: Owner
  data:
    - secretKey: RIVERBOAT_RIVER_DATABASEHOST
      remoteRef:
        key: RIVERBOAT_RIVER_DATABASEHOST
    - secretKey: RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
    - secretKey: RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
    - secretKey: RIVERBOAT_RIVER_WORKERS_CREATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
    - secretKey: RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
    - secretKey: RIVERBOAT_RIVER_WORKERS_DELETECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_CLOUDFLAREAPIKEY
    - secretKey: RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_DATABASEHOST
    - secretKey: RIVERBOAT_RIVER_WORKERS_VALIDATECUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CUSTOMDOMAINWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_WATERMARKDOCWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_WATERMARKDOCWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OPENLANEAPIHOST
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OPENLANEAPIHOST
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OPENLANEAPITOKEN
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OPENLANEAPITOKEN
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_ACCESSKEYID
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_ACCESSKEYID
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_SECRETACCESSKEY
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_SECRETACCESSKEY
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_ACCOUNTID
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_CREDENTIALS_ACCOUNTID
    - secretKey: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_BUCKET
      remoteRef:
        key: RIVERBOAT_RIVER_WORKERS_CACHETRUSTCENTERDATAWORKER_CONFIG_OBJECTSTORAGE_PROVIDERS_CLOUDFLARER2_BUCKET
{{- end }}