name: Chart Publish

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: read

jobs:
  publish:
    name: Publish Modified Helm Charts
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      # Set up Helm
      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      # Install yq
      - name: Install yq
        run: |
          sudo wget -qO /usr/bin/yq https://github.com/mikefarah/yq/releases/download/v4.30.2/yq_linux_amd64
          sudo chmod +x /usr/bin/yq

      # Add dependency chart repos
      - name: Add dependency chart repos
        run: |
          for chart in charts/*; do
            if [[ -f "$chart/Chart.yaml" ]]; then
              helm dependency update "$chart"
            fi
          done

      # Configure Git
      - name: Configure Git
        run: | # $GITHUB_ACTOR: last user who trigger the action
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # Add Helm Repositories
      - name: Add Helm Repositories
        run: |
          chmod +x ./scripts/add-repos.sh
          ./scripts/add-repos.sh

      # Lint the charts
      - name: Fetch current Chart Index from gh-pages
        run: |
          git checkout origin/gh-pages index.yaml

      # Run Chart Releaser
      - name: Run Chart Releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: "configs/cr.yaml"
          packages_with_index: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      # Push OCI Helm Chart Packages to GHCR
      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push OCI Helm Chart Packages to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/${{ github.repository }}
          done
